<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <p class="secret-text">
        <%= secret %>
      <!-- <img src="https://vignette.wikia.nocookie.net/ironman/images/4/4f/2d197cd55f053026eada4976344ef0ad.png/revision/latest/top-crop/width/360/height/450?cb=20191205180643"></img> -->

      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>

<%- include('partials/footer') %>
